<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Reset Password</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                appNoLeadingSpace
                id="email"
                formControlName="email"
                [class.is-invalid]="resetForm.get('email')?.invalid && resetForm.get('email')?.touched"
              />
              <div
                *ngIf="resetForm.get('email')?.hasError('required')"
                class="invalid-feedback"
              >
                Email is required
              </div>
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                 appNoLeadingSpace
                formControlName="newPassword"
                [class.is-invalid]="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched"
              />
              <div
                *ngIf="resetForm.get('newPassword')?.hasError('required')"
                class="invalid-feedback"
              >
                New Password is required
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                 appNoLeadingSpace
                formControlName="confirmPassword"
                [class.is-invalid]="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched"
              />
              <div
                *ngIf="resetForm.get('confirmPassword')?.hasError('required')"
                class="invalid-feedback"
              >
                Confirm Password is required
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100"
              [disabled]="resetForm.invalid"
            >
              Reset Password
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
            <div *ngIf="success" class="alert alert-success mt-3">
              {{ success }}
            </div>
          </form>
          <p class="text-center mt-3">
            Remember your password? <a routerLink="/login">Login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
